[Desktop Entry]
Encoding=UTF-8
Name=Bluetooth Manager
Comment=Bluetooth Manager applet
Icon=bluetooth
Exec=bluetooth-applet
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
X-Ubuntu-Gettext-Domain=bluetooth-manager
