[Desktop Entry]
Name=Evolution Alarm Notifier
Comment=Ensures that alarms set in Evolution go off at the appropriate time
Icon=stock_alarm
Exec=sh -c "sleep 30; exec /usr/lib/evolution/2.26/evolution-alarm-notify"
Terminal=false
Type=Application
OnlyShowIn=GNOME;
Categories=
X-Ubuntu-Gettext-Domain=evolution-2.26
